script(src='/javascripts/auth.js')

form.form-vertical(method="POST")
  p
  if requested
    p Please enter password for #{requested}
    input(type='hidden', name='requested', value='#{requested}')
  else
    label Username
      input.span4(name="username", type="text", placeholder="Username", value=username)
  label Password
    input.span4(name="password", type="password", placeholder="Password")

  button.btn.btn-primary(type="submit") Sign in
  &nbsp;
  button.btn.cancel Cancel
