script(src=auth_api_js)
script(src='/javascripts/auth.js')

if username
  script
    navigator.id.completeAuthentication()

  p You are logged in as #{username}.
else
  form.form-vertical(method="POST")
    if requested
      p Please enter password for #{requested}
      input(type='hidden', name='username', value='#{requested}')
    else
      label Username
        input.span4(name="username", type="text", placeholder="Username")
    label Password
      input.span4(name="password", type="password", placeholder="Password")
    
    button.btn.btn-primary(type="submit") Sign in
    &nbsp;
    button.btn.cancel Cancel
