p Mozilla Identity is a new technology for signing into web sites.

if username
  p You are currently logged in as #{username}.
else
  p You do not need to use this site directly. It is designed to serve sign in requests from other sites.

